body{
    background-color: white;
}

.wd-outer-margin {
    padding: 12px 16px 16px 16px;
}

.wd-top-bord {
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}

.wd-search {
    display: table;
    width: 100%;
    height: 40px;
    padding: 0 16px 0 16px;
}

.wd-col-90 {
    width: 90%;
    height: 35px;
    float: left;
}

.wd-col-10 {
    width: 10%;
    height: 35px;
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.wd-search-section {
    border-radius: 50px;
    border: 1px solid #eef3f4;
    background-color: #eef3f4;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 12px;
    font-size: 13px;
}


.wd-search-icon {
    width: 12px;
    height: 12px;
}

.wd-search-bar-content {
    width: 95%;
    height: 35px;
    background: #eef3f4;
    outline: none;
    border: #eef3f4;
    color: black;
    padding-left: 15px;
    font-size: 13px;
}

.wd-gear-icon {
    width: 30px;
    height: 30px;
    /*display: flex;*/
    margin-right: 3px;
}

.wd-link-highlight {
    font-size: 15px;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid rgb(29, 161, 242);
    padding-bottom: 16px;
    margin: 16px 16px 0 16px;
    position: relative;
}

.wd-links {
    font-size: 15px;
    color: darkgray;
    text-decoration: none;
    margin: 16px;
}

.wd-bord {
    border: solid white;
    padding: 12px 12px 12px 16px;
}

.wd-row {
    display: table;
    width: 100%;
    height: fit-content;
}

.wd-col-70 {
    width: 70%;
    float: left;
}

.wd-col-30 {
    width: 30%;
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.wd-title {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.wd-details {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-dots-icon {
    width: 13px;
    height: 13px;
}

.wd-bord-with-pic {
    border: solid white;
    padding: 12px 16px 12px 16px;
}

.wd-picture {
    border-radius: 25px;
    max-width: 100px;
    max-height: 100px;
}

.wd-bold-black {
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.wd-time {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-topic {
    font-size: 13px;
    color: lightgray;
}
.wd-icon-width {
    width: 16px;
}

.wd-space-between {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
    height: max-content;
}

.list-group-item {
    border: none;
}

.list-group-item.active {
    color: #1f9bf0;
    background-color: white;;
}

.btn {
    background-color: #1f9bf0;
    border-color: #1f9bf0;
}

.wd-main-img {
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 8px;
}

.wd-recommend-bord {
    border: 1px solid #eef3f4;
    border-radius: 15px;
    background-color: #eef3f4;
    padding: 12px;
}

#show-more {
    color: #1f9bf0;
    text-decoration: none;
}
.wd-avatar {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.wd-follow {
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.wd-main-img-lines {
    color: white;
    position: relative;
    bottom: 70px;
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -60px;
}